.link {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 h-10 px-4 py-2 text-link hover:underline;
}

.button {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 h-10 px-4 py-2;
}

.button--primary {
    @apply bg-foreground text-background;
}

.button--primary:hover {
    background-color: var(--button-hover);
}

.button--secondary {
    @apply border border-foreground;
}

.button--secondary:hover {
    border-color: var(--button-hover);
    background-color: var(--button-secondary-hover);
}

.button + .button {
    @apply ml-2;
}

.header-link {
    @apply text-foreground;
}
