.content {
    @apply py-10;
}

.content h1,
.content h2,
.content h3,
.content h4 {
    font-style: normal;
    font-weight: bold;
    color: var(--primary);
    margin: 0.83em 0;
}

.content h1 {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.44px;
}

.content h2 {
    font-size: 48px;
    line-height: 52px;
}
.content h3 {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 0.26px;
    margin: 1em 0;
}

.content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.content li {
    color: var(--muted-foreground);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.08px;
    font-style: normal;
    font-weight: 400;
}

.content > :not(li) > p {
    color: var(--muted-foreground);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.08px;
    font-style: normal;
    font-weight: 400;
    margin: 1em 0;
}

.content strong {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.08px;
    font-style: normal;
    font-weight: bold;
}

.content a {
    text-decoration: underline;
    font-style: italic;
}

.content blockquote {
    padding: 30px 0px 40px;
    border-top: 2px solid var(--accent-foreground);
    border-bottom: 2px solid var(--accent-foreground);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.08px;
    font-style: normal;
    font-weight: bold;
    
    font-style: italic;
    text-align: center;
}

.content blockquote > * {
    max-width: 640px;
}
